


.container-links {
 position: fixed;
 top: 75px;
 left: -100vw;
 z-index: 999;
 transition: 0.7s all cubic-bezier(0.67, 0.01, 0.1, 0.97) ;
 height: 18vh;
 width: 100vw;
 background-color:  rgb(14, 17, 22);
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 50px;
 text-align: left;
 opacity: 0;
 border-bottom: 1px solid white;

 @media screen and (min-width: 320px) and (max-width: 480px) {
    top: 72px;
 }


}


.container-links.off {
    left: 0;
    opacity: 1;
}


nav ul {
    position: relative;
    bottom: 30px;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 0px 20px;

    
}


.link-nav {
    text-decoration: none;
}

.link-nav li {
    color: #fff;
    transition: all 0.5s ease;

}


.link-nav li:hover {
    color: gray;
    transition: all 0.5s ease;
 
}
  

  